<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-static-top ">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="container-fluid">
            <div class="page-header">
                <h2 class="text-center">{{book.getTitle()}}</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <form action="/edit/{{book.getId()}}" method="post" >
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <label for="title">Title</label>
                                <input class="form-control" id="title" name="title" value="{{book.getTitle()}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <label for="author">Author</label>
                                <input class="form-control" id="author" name="author" value="{{book.getAuthor()}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <label for="publisher">Publisher</label>
                                <select id="publisher" name="publisher_id" class="form-control">
                                    {% for publisher in publishers %}
                                    {% if publisher.getId() == book.getPublisher().getId() %}
                                    <option value="{{book.getPublisher().getId()}}" selected>{{publisher.getName()}}</option>
                                    {% else %}
                                    <option value="{{publisher.getId()}}">{{publisher.getName()}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-xs-6">
                                <label for = "price">Price</label>
                                <input class= "form-control" id= "price" type= "number" name= "price" value="{{book.getPrice()}}">
                            </div>
                        </div>
                        <div class="form-group ">
                            <button class="btn btn-primary" type="submit">Edit</button>
                            <a class="btn btn-primary" href="/delete/{{book.getId()}}">Delete</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>