<html>
    <head>

    </head>
    <body>
        <header>
            <h1>CRUDBook</h1>
        </header>
        <nav>
            <a href="/">Home</a> |
            <a href="/books">Books</a>
        </nav>
        <section>
        </section>
    </body>
</html>