<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <section>
            <a href="/">Home</a> |
            <a href="/books">Books</a>
        </section>
    </body>
</html>