<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="javascript/list-books.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-static-top ">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a id="search-advance-click" href="#">Search-Advance</a></li>
                    <li><a id="search-basic-click" href="#">Search-Keyword</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h2 class="text-center">CRUD Books</h2>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <a class="btn btn-primary" href="/add">Add</a>
                </div>
            </div>
            <hr/>
            <div>
                <form action="/search-basic" method="get" id="form-search-basic" hidden>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            <input class="form-control" id="search-basic" name="keyword" placeholder="Enter Keyword"/>
                        </div>
                    </div>
                </form>
            </div>
            <div >
                <form id="search-advance"   hidden>
                    <div class="form-group row" >
                        <div class="col-xs-3">
                            <input class="form-control" name="title" id="title" placeholder="Enter Title"/>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" name="author" id="author" placeholder="Enter Author"/>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" name="publisher" id="publisher" placeholder="Enter publisher"/>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-primary" id="advance-click" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <form id="list-books">

            </form>
        </div>
    </section>
</body>
<script id="bookTemplate" type="text/html">
    <div class="list-group " id="list-book">
       <a class="list-group-item " id=":book:id" href="/edit/:id:">
           <h4 class="list-group-item-heading">:bookName:</h4>
           <p class="list-group-item-text">Author : :author:</p>
       </a>
    </div>
</script>
<script id="pageNumber" type="text/html">
    <ul class="pagination">ss
        <li class="active"><a href="#">:pageNumber:</a></li>
    </ul>
</script>
</html>